{
  "openapi": "3.0.3",
  "info": {
    "title": "API Sankhya",
    "description": "API de Integrações Sankhya\n\nEsta documentação apresenta os serviços disponíveis para cada objetivo e entidade. Você encontrará explicações sobre as regras de negócio, demonstrações de uso dos serviços e detalhes dos campos e opções.\n\nA API é baseada em chamadas HTTP ou HTTPS, utilizando os métodos POST e GET, com corpo no formato JSON. Qualquer sistema capaz de realizar uma chamada HTTP pode utilizar os serviços.\n\nO método PUT não é utilizado, pois as operações de inclusão ou atualização são feitas pelo método POST. Se a chave primária (PK) já existir, será feito um UPDATE; se não, um INSERT.\n\nO que é uma Entidade?\n\"Entidade\" refere-se a tudo que pode ser cadastrado, editado, consultado ou excluído no Sankhya. Por exemplo, um \"Produto\" pode ser cadastrado, editado, consultado ou excluído.\n\n**Exemplo de URL de Requisição:**\nA URL de requisição segue um padrão fixo:\n\n**URL padrão:**\nhttps://api.sankhya.com.br/gateway/v1/[modulo]/service.sbr?serviceName=[nomedoserviço]&outputType=json\n\n**Módulos Utilizados:**\n\n**MGE:**\nEste módulo é para consulta e gravação de dados de cadastros.\n\nExemplos de Serviços no MGE:\n- CRUDServiceProvider.loadRecords\n- CRUDServiceProvider.saveRecord\n- DbExplorerSP.executeQuery\n\nURL padrão MGE:\nhttps://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=[nomedoserviço]&outputType=json\n\n**MGECOM:**\nO módulo Comercial é para consulta e gravação de movimentações, como pedidos e compras.\n\nExemplos de Serviços no MGECOM:\n- CACSP.IncluirNota\n- CACSP.incluirAlterarItemNota\n- CACSP.excluirItemNota\n- CACSP.cancelarNota\n- SelecaoDocumentoSP.faturar\n\nURL padrão MGECOM:\nhttps://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.IncluirNota&outputType=json\n\nImportante:\nOs serviços são específicos para cada módulo. Os serviços do módulo MGECOM são exclusivos e não funcionarão se a URL for para o módulo MGE, e vice-versa.\n\nPara utilizar todos os serviços, é necessário realizar o login conforme descrito na documentação.\n",
    "termsOfService": "https://www.sankhya.com.br/",
    "license": {
      "name": "Licença Sankhya",
      "url": "https://www.sankhya.com.br/"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sankhya.com.br",
      "description": "Produção"
    },
    {
      "url": "https://api.sandbox.sankhya.com.br",
      "description": "Sandbox"
    }
  ],
  "externalDocs": {
    "description": "Saiba mais sobre a API Sankhya",
    "url": "https://developer.sankhya.com.br/reference/api-de-integra%C3%A7%C3%B5es-sankhya"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Serviço de Autenticação via Json - Login e Logout"
    },
    {
      "name": "Aliquotas ICMS",
      "description": "Consulta de Aliquotas de ICMS"
    },
    {
      "name": "Bairro",
      "description": "Consulta de Bairros"
    },
    {
      "name": "Bancos",
      "description": "Consulta de Bancos"
    },
    {
      "name": "Centro de Resultado",
      "description": "Consulta de Centro de Resultados"
    },
    {
      "name": "Cidade",
      "description": "Cadastro e consulta de Cidades"
    },
    {
      "name": "CFOP",
      "description": "Cadastro de CFOP"
    },
    {
      "name": "Clientes",
      "description": "Cadastro e consulta de Clientes"
    },
    {
      "name": "Como fazer a inclusão/alteração de dados?",
      "description": "Realizando a inclusão e alteração de dados"
    },
    {
      "name": "Como fazer consulta de dados?",
      "description": "Realizando consultas utilizando loadRecords"
    },
    {
      "name": "Consultas Gerais",
      "description": "Consultas Gerais"
    },
    {
      "name": "Consultas de Histórico de Entidades",
      "description": "Consultas de Histórico de Entidades"
    },
    {
      "name": "Empresa",
      "description": "Consulta de Empresas"
    },
    {
      "name": "Endereço",
      "description": "Cadastro e Consulta de Endereços"
    },
    {
      "name": "Estoque",
      "description": "Consulta de Estoque"
    },
    {
      "name": "Fazendo \"join\" entre entidades em uma consulta",
      "description": "Retornando registros de outras entidades em um loadRecords"
    },
    {
      "name": "Fornecedores",
      "description": "Cadastro e consulta de Fornecedores"
    },
    {
      "name": "kit de Produtos",
      "description": "Cadastro e consulta de Kit de produtos"
    },
    {
      "name": "Metas",
      "description": "Cadastro e consulta de Metas"
    },
    {
      "name": "Motorista",
      "description": "Cadastro e consulta de Motoristas"
    },
    {
      "name": "Natureza",
      "description": "Cadastro e consulta de Natureza"
    },
    {
      "name": "Ordens de Carga",
      "description": "Cadastro e Consulta de Ordens de Carga"
    },
    {
      "name": "Pedidos",
      "description": "Cadastro e consulta de Pedidos"
    },
    {
      "name": "Plano de Contas",
      "description": "Cadastro e consulta de Plano de Contas"
    },
    {
      "name": "Produtos",
      "description": "Cadastro e consulta de Produtos"
    },
    {
      "name": "Promoção",
      "description": "Consulta de Promoções"
    },
    {
      "name": "Projetos",
      "description": "Cadastro e consulta de Projetos"
    },
    {
      "name": "Regiões",
      "description": "Cadastro e consulta de Regiões"
    },
    {
      "name": "Tipos de Negociação",
      "description": "Consulta de Tipos de Negociação"
    },
    {
      "name": "Tipos de Título",
      "description": "Cadastro de Tipos de Título"
    },
    {
      "name": "Títulos Abertos",
      "description": "Consulta de Títulos em aberto"
    },
    {
      "name": "Transportadora",
      "description": "Cadastro e consulta de Transportadora"
    },
    {
      "name": "Unidade Alternativa",
      "description": "Cadastro e consulta de Unidades Alternativas"
    },
    {
      "name": "Utilizando Critérios em Consultas loadRecords",
      "description": "Utilizando Critérios em Consultas loadRecords"
    },
    {
      "name": "Utilizando VIEWs para obter dados",
      "description": "Obtendo dados utilizando loadView"
    },
    {
      "name": "Veículos",
      "description": "Consulta de Veículos"
    },
    {
      "name": "Vendedores",
      "description": "Consulta de Vendedores"
    },
    {
      "name": "Volumes",
      "description": "Cadastro e consulta de Volumes"
    },
    {
      "name": "vendas/cfe-sat",
      "description": "Enviar Cupom Fiscal Eletrônico (CFe SAT)",
      "externalDocs": {
        "description": "Saiba mais sobre CFe SAT na Sankhya",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/search?utf8=%E2%9C%93&query=CFe+SAT)"
      }
    },
    {
      "name": "vendas/nfce",
      "description": "Enviar Nota Fiscal de Consumidor Eletrônico (NFCe)",
      "externalDocs": {
        "description": "Saiba mais sobre NFCe na Sankhya",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/search?utf8=%E2%9C%93&query=NFCe)"
      }
    },
    {
      "name": "caixa",
      "description": "Registra movimentações realizadas no caixa",
      "externalDocs": {
        "description": "Saiba mais sobre Gestão de Caixa na Sankhya",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/24340556304919-Gest%C3%A3o-de-Fechamento-de-Caixa)"
      }
    },
    {
      "name": "precos",
      "description": "Obter preços de produtos do SankhyaOm",
      "externalDocs": {
        "description": "Saiba mais sobre preços na Sankhya",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/search?utf8=%E2%9C%93&query=tabela+de+pre%C3%A7os)"
      }
    },
    {
      "name": "RequisicaoAdmissao",
      "description": "Crie e consulte requisições de admissão no Pessoal+\n"
    },
    {
      "name": "fiscal",
      "description": "Breve descrição sobre o respectivo contexto",
      "externalDocs": {
        "description": "Descrição para o link",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/360044599814-Bairro)"
      }
    },
    {
      "name": "vendas/pedidos",
      "description": "Enviar Pedidos de Venda",
      "externalDocs": {
        "description": "Saiba mais sobre Pedidos na Sankhya",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendas#comolanarumpedidodevenda)"
      }
    },
    {
      "name": "clientes",
      "description": "Cadastrar, atualizar e retornar clientes disponíveis no SankhyaOm",
      "externalDocs": {
        "description": "Regrar para Clientes no SankhyaOm",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/360044594494-Cadastro-de-Parceiros)"
      }
    },
    {
      "name": "estoque",
      "description": "Retorna estoque de produto existente no SankhyaOm",
      "externalDocs": {
        "description": "Regras de Estoque no SankhyaOm",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/360045109353-Consulta-de-Produtos)"
      }
    },
    {
      "name": "impostos",
      "description": "Ações relacionadas a Impostos",
      "externalDocs": {
        "description": "Descrição para o link",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/#)"
      }
    },
    {
      "name": "Movimentos Financeiros",
      "description": "Registra movimentações financeiras no SankhyaOM",
      "externalDocs": {
        "description": "Saiba mais sobre a Movimentação Financeira",
        "url": "(https://ajuda.sankhya.com.br/hc/pt-br/articles/360045114753-Movimenta%C3%A7%C3%A3o-Financeira)"
      }
    }
  ],
  "paths": {
    "/Login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Serviço de Autenticação via Json",
        "description": "<h1>Regras de negócio</h1> O procedimento de autenticação é realizado utilizando o usuário e senha válidos e vinculado ao <b>SankhyaID</b>, e deve ser o primeiro passo em uma sessão de chamadas de serviços. <br /> Com uma autenticação é possível chamar outros serviços em sequência, como por exemplo os serviços loadrecords e saverecords. Isso porque o <i><b> bearer token </i></b> obtido a partir dessa requisição é que deverá ser informado no cabeçalho das chamadas subsequentes, permite que a sessão fique aberta pelo período definido no sistema, que por padrão são 30 minutos de inatividade.<br/>Para alterar o tempo de expiração do <i><b> bearer token </i></b> acesse a tela Preferências no SankhyaOM e altere o parâmetro INATSESSTIMEOUT, que pode varia de 1 à 30 minutos.\n<br><b>Atenção:</b> A URL para o login é específica e diferente das demais requisições: </b> https://api.sankhya.com.br/login\n<br>No entanto, é fortemente recomendado realizar logoff após realizar as requisições desejadas. Veja a seguir um fluxo de integração recomendado:\n<ol>\n  <li>login</li>\n  <li>requisição 1</li>\n  <li>requisição 2</li>\n  <li>requisição N</li>\n  <li>logout</li>\n</ol>\n<h3>Dependências</h3> <b><font color=red> - O Token é gerado na tela Configurações Gateway do SankhyaOm que deseja realizar a integração.</font></b>\n<br /> <h3>Detalhes Técnicos:</h3> \n<b>Corpo de requisição para realizar login</b>\n\n      {\n          curl --location --request POST 'https://api.sankhya.com.br/login' \\\n          --header 'token: 8fedf240-ea7f-11ed-a05b-0242ac120003' \\\n          --header 'appkey: db654b42-ea7f-11ed-a05b-0242ac120003' \\\n          --header 'username: user@dominio.com.br' \\\n          --header 'password: *******' \\\n          --data-raw '\n      }\n    \n  <font size=2px><b>Retorno em json:</b></font><br />\n  \n      {\n          \"bearerToken\": \"bearerToken_da_sessao_ativa_retorna_bem_aqui\",\n              \"error\": null\n      }\n      \n<b>Corpo de requisição para realizar logout</b>\n\n      {\n          curl --location 'https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=MobileLoginSP.logout&outputType=json' \\\n          --header 'appkey: db654b42-ea7f-11ed-a05b-0242ac120003' \\\n          --header 'Content-Type: application/json' \\\n          --header 'Authorization: Bearer bearerToken_da_sessao_ativa_enviado_bem_aqui'\n      }\n      \n <font size=2px><b>Retorno em json:</b></font><br />\n \n      {\n          \"serviceName\": \"MobileLoginSP.logout\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"F35F4D5A07D74B06C86301D00E897ADC\",\n          \"responseBody\": {}\n      }",
        "operationId": "login",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "06f844cd-eb15-48a2-aa1f-f324f74b0fa1"
            }
          },
          {
            "name": "appkey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e6df2aef-12e8-4135-8436-a3a367734132"
            }
          },
          {
            "name": "username",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user@example.com"
            }
          },
          {
            "name": "password",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "senha123"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Login / logout efetuado com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/Pedidos": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Cadastro de Pedidos",
        "description": "<h1>Regras de negócio</h1> O cadastro de pedidos no sistema, permite que você registre e gerencie o que foi vendido e precisa ser faturado e entregue indicando, para qual cliente ou parceiro, quais as condições comerciais e financeiras negociadas e demais informações, proporcionando uma clara visão do que está em cada etapa do processo.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendasbr\n<h3>Dependências</h3> Para realizar a inclusão do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login;<br /> <b>2) </b>Produtos/Serviços  preeviamente cadastrados e ativos;<br /> <b>3) </b>Empresas previamente cadastradas e ativas;<br /> <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\"Pedido de venda\"</b>;<br /> <b>5) </b>Tipo de negociação cadastrados seja  a vista, a prazo, parcelada, cheque.<br /> <b>6) </b>O parceiro deve estar cadastrado e ativo antes da geração do pedido.<br />\n<h3>Detalhes Técnicos</h3> O serviço utilizado para inclusão de notas é o CACSP.IncluirNota que instancia as entidades principais para o envio de pedido, as entidades que este serviço utiliza são: <br />\n  <b>• CabecalhoNota;</b>\n  <b>• ItemNota.</b><br />\n  Os campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. Apenas um pedido/nota pode ser enviado por vez. <br />\n  Para realizar a inclusão do pedido através do Json, os campos abaixo são obrigatórios:<br /><br />\n            <b>CABEÇALHO DO PEDIDO</b>\n\n            • NUNOTA – Numero Único da nota;\n            • CODPARC – Código do Parceiro;\n            • DTNEG – Data de Negociação;\n            • CODTIPOPER – Código do Tipo de Operação;\n            • CODTIPVENDA – Tipo de Negociação;\n            • CODVEND – Código do vendedor;\n            • CODEMP – Código da Empresa;\n            • TIPMOV – Tipo de Movimento.\n\n<h3></h3> <b>ITENS DO PEDIDO</b>\n\n            • CODPROD – Código do Produto;\n            • QTDNEG – Quantidade;\n            • CODLOCALORIG – Código local de Origem;\n            • CODVOL – Código do Volume;\n            • IGNOREDESCPROMOQTD - Quando \"True\" garante que os valores enviados na API não serão alterados devido a algum disconto promocional vigente.\n\n<h3></h3> Conforme explicado anteriormente, os campos enviados acima são obrigatórios e são os campos padrões. Os campos abaixo só serão obrigatórios se na requisição o campo \"<b><font color=red>INFORMARPRECO</font>\"</b> for igual a <b>true</b>, caso contrário os campos abaixo não serão obrigatórios.<br /><br /> <b>• VLRUNIT</b> – Valor Unitário;<br /> <b>• PERCDESC</b> – Percentual de desconto;   <br />\n<b><font color=red>IMPORTANTE</font>:</b> O campo <b>INFORMARPRECO</b> serve para enviar o pedido com os valores já negociados e neste caso, o preço e o desconto terão que serem enviados para serem calculados. Caso o campo <b>informarPreço</b> = N então o ERP irá utilizar  valor da tabela de preços vigente no momento da inclusão do pedido.\n<h3>Descritivo de Campos das Entidades</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAB</b><br /> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFITE.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFITE</b><br />\n<h3>Exemplo de uso:</h3> <b>URL de chamada</b>:       https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirNota&outputType=json <br />\n<font color=red>IMPORTANTE</font>:</b> <H3>OBSERVAÇÃO: EXEMPLO DE REQUISIÇÃO BASEADO NA BASE DE TESTE. TODOS OS CAMPOS DEVEM SER REVISTOS E AJUSTADOS PARA UM NOVO PEDIDO DE VENDA PARA AMBIENTE PRODUTIVO.<br /> <br /> </b>Corpo de requisição</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"cabecalho\":{\n                \"NUNOTA\":{\n                },\n                \"CODPARC\":{\n                   \"$\":\"1\"\n                },\n                \"DTNEG\":{\n                   \"$\":\"09/12/2022\"\n                },\n                \"CODTIPOPER\":{\n                   \"$\":\"2000\"\n                },\n                \"CODTIPVENDA\":{\n                   \"$\":\"12\"\n                },\n                \"CODVEND\":{\n                   \"$\":\"0\"\n                },\n                \"CODEMP\":{\n                   \"$\":\"1\"\n                },\n                \"TIPMOV\":{\n                   \"$\":\"O\"\n                }\n             },\n             \"itens\":{\n                \"INFORMARPRECO\":\"True\",\n                \"item\":[\n                      {\n                       \"NUNOTA\":{\n                      },\n                      \"IGNOREDESCPROMOQTD\": {\n                          \"$\": \"True\"\n                      },\n                      \"CODPROD\":{\n                         \"$\":\"8\"\n                      },\n                      \"QTDNEG\":{\n                         \"$\":\"1\"\n                      },\n                      \"CODLOCALORIG\":{\n                         \"$\":\"0\"\n                      },\n                      \"CODVOL\":{\n                         \"$\":\"UN\"\n                      },\n                      \"PERCDESC\": {\n                        \"$\": \"0\"\n                      },\n                     \"VLRUNIT\": {\n                        \"$\": \"1.75\"\n                      }\n                   }               \n                ]\n             }\n          }\n       }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CACSP.incluirNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"1484EE05236C4B33DE6355DAA8443EFF\",\n        \"responseBody\": {\n            \"pk\": {\n                \"NUNOTA\": {\n                    \"$\": \"740\"\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Inclusão de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      },
      "get": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Consulta de pedidos",
        "description": "<h1>Regras de negócio</h1> Permite a consulta das informações relacionadas aos pedidos de venda e permite validar os valores e condições negociadas entre empresa e parceiro.O detalhamento de cada parametrização e/ou preenchimento, deve ser verificado junto aos gestores de sua empresa e/ou consultores Sankhya.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendas#oqueumpedidodevenda<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /> <h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>CabecalhoNota</b> que por sua vez instancia a tabela TGFCAB  mapeando os campos principais na busca de pedidos.<br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foi utilizado como filtro o campo DTNEG, porém pode ser utilizados outros campos da entidade.<br /><br />\n\n <b>• DTNEG</b> – Data da negociação.<br />           \n\n<h3></h3> Para utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n                  \"criteria\": {\n                      \"expression\": {\n                          \"$\": \"(this.DTNEG = ? )\"\n                      },\n                      \"parameter\": [\n                         {\n                            \"$\": \"28/10/2016\",\n                            \"type\": \"D\"\n                         }\n                      ]\n                  }\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFCAB<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n      {\n          \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n          \"requestBody\": {\n              \"dataSet\": {\n                  \"rootEntity\": \"CabecalhoNota\",\n                  \"includePresentationFields\": \"S\",\n                  \"offsetPage\": \"0\",\n                  \"criteria\": {\n                      \"expression\": {\n                          \"$\": \"(this.DTNEG = ? )\"\n                      },\n                      \"parameter\": {\n                          \"$\": \"28/10/2016\",\n                          \"type\": \"D\"\n                      }\n                  },\n                  \"entity\": {\n                      \"fieldset\": {\n                          \"list\": \"NUNOTA,CODEMP,CODPARC,DTNEG\"\n                      }\n                  }\n              }\n          }\n      }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n      {\n          \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"AD583F694F1AC8CD86D328EE246B7A1B\",\n          \"responseBody\": {\n              \"entities\": {\n                  \"total\": \"12\",\n                  \"hasMoreResult\": \"false\",\n                  \"offsetPage\": \"0\",\n                  \"offset\": \"0\",\n                  \"metadata\": {\n                      \"fields\": {\n                          \"field\": [\n                              {\n                                  \"name\": \"NUNOTA\"\n                              },\n                              {\n                                  \"name\": \"CODEMP\"\n                              },\n                              {\n                                  \"name\": \"CODPARC\"\n                              },\n                              {\n                                  \"name\": \"DTNEG\"\n                              },\n                              {\n                                  \"name\": \"Empresa_NOMEFANTASIA\"\n                              },\n                              {\n                                  \"name\": \"Parceiro_NOMEPARC\"\n                              }\n                          ]\n                      }\n                  },\n                  \"entity\": [\n                      {\n                          \"f0\": {\n                              \"$\": \"5996\"\n                          },\n                          \"f1\": {\n                              \"$\": \"2\"\n                          },\n                          \"f2\": {\n                              \"$\": \"3\"\n                          },\n                          \"f3\": {\n                              \"$\": \"28/10/2016\"\n                          },\n                          \"f4\": {\n                              \"$\": \"EMPRESA MODELO\"\n                          },\n                          \"f5\": {\n                              \"$\": \"BRASIL TECIDOS\"\n                          }\n                      },\n                      {\n                          \"f0\": {\n                              \"$\": \"5998\"\n                          },\n                          \"f1\": {\n                              \"$\": \"2\"\n                          },\n                          \"f2\": {\n                              \"$\": \"3\"\n                          },\n                          \"f3\": {\n                              \"$\": \"28/10/2016\"\n                          },\n                          \"f4\": {\n                              \"$\": \"EMPRESA MODELO\"\n                          },\n                          \"f5\": {\n                              \"$\": \"BRASIL TECIDOS\"\n                          }\n                      }\n                  ]\n              }\n          }\n      }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/IncAltItemPedido": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Inclusão e Alteração de Itens no Pedido",
        "description": "<h1>Regras de negócio</h1> O objetivo é incluir no ERP um <b>pedido de venda</b> ou <b>pedido de compra</b> negociado, por exemplo em 01/01 para ser entregue em até 31/12, durante esse prazo de negociação, ocorrem algumas variações do preço na quantidade dos itens, assim como itens excluídos e incluídos na negociação, por isso existe a necessidade de manter um <b>pedido de venda</b> faturado parcialmente e que poderá sofrer manutenções/alterações.<br />\nPara realizar configuração no sistema com o <b><u>tipo de operação - Top</u></b> e habilitar algumas marcações \"Permitir Alteração após confirmar\" e \"Permite alterar itens após faturar parcialmente\" e \"Gravar histórico de alterações do pedido\" que possibilita a alteração do <b>pedido de compra</b> ou <b>pedido de venda</b>, faturado parcialmente no sistema.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360045109773-Altera%C3%A7%C3%A3o-de-Pedidos-Parcialmente-Faturados#prefer%C3%AAncias<br />\n<h3>Dependências</h3> Para realizar a inclusão ou alteração de itens no pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br /> <b>2) </b>Produtos/Serviços  preeviamente cadastrados e ativos;<br /> <b>3) </b>Empresas previamente cadastradas e ativas;<br /> <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\"Pedido de venda\"</b>;<br /> <b>5) </b>Tipo de operação(TOP) utilizado no pedido deve estar configurada para permitir a alteração do <b>\"pedido\"</b> após a <b>\"confirmação\"</b> do mesmo. <br />\n<h3>Detalhes Técnicos</h3> O serviço utilizado para inclusão e alteração de itens no pedido  é o <b>CACSP.incluirAlterarItemNota</b> que instancia as entidades principais para o envio de item no pedido, as entidades que este serviço utiliza são: <br />\n  <b>• CabecalhoNota;</b>\n  <b>• ItemNota.</b><br />\n  Os campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. <br />\n  Apenas um item pedido/nota pode ser enviado por vez. <br />\n  Para realizar a inclusão do item no pedido através do Json, os campos abaixo são obrigatórios:<br /><br />\n  <b>CABEÇALHO DO PEDIDO</b><br />\n  \n            • NUNOTA – Numero Único da nota;\n\n<h3></h3> <b>ITENS DO PEDIDO</b>\n\n            • CODPROD – Código do Produto;\n            • QTDNEG – Quantidade;\n            • CODLOCALORIG – Código local de Origem;\n            • CODVOL – Código do Volume;\n            • SEQUENCIA - Sequência do item no pedido;\n            • VLRUNIT - Valor Unitário;\n            • VLRTOT - Valor total do item(QTDNEG x VLRUNIT);\n            • VLRDESC - Valor do Desconto;\n            • PERCDESC - Percentual de Desconto.\n                     \n<h3></h3> Para realizar a alteração de itens do pedido basta informar o número da SEQUÊNCIA do item a ser alterado pelo JSON, segue exemplo:\n\n            \"SEQUENCIA\":{\n                \"$\":\"10\"\n             }\n\n\n<h3>Descritivo de Campos das Entidades</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAB</b><br /> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFITE.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFITE</b><br />\n<h3>Exemplo de uso:</h3> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.incluirAlterarItemNota&outputType=json <br />\n<b>Corpo de Requisição Padrão para Inclusão:</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirAlterarItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"NUNOTA\":\"7468\",\n             \"itens\":{\n                \"item\":{\n                   \"CODPROD\":{\n                      \"$\":\"129\"\n                   },\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"\"\n                   },\n                   \"QTDNEG\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRUNIT\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRTOT\":{\n                      \"$\":\"432.38\"\n                   },\n                   \"CODVOL\":{\n                      \"$\":\"UN\"\n                   },\n                   \"VLRDESC\":{\n                      \"$\":\"0\"\n                   },\n                   \"PERCDESC\":{\n                      \"$\":\"0\"\n                   }\n                }\n             }\n          }\n       }\n    }\n<h3></h3> <b>Corpo de Requisição Padrão para Alteração:</b>\n\n    {\n       \"serviceName\":\"CACSP.incluirAlterarItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"NUNOTA\":\"7468\",\n             \"itens\":{\n                \"item\":{\n                   \"CODPROD\":{\n                      \"$\":\"129\"\n                   },\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"10\"\n                   },\n                   \"QTDNEG\":{\n                      \"$\":\"8\"\n                   },\n                   \"VLRUNIT\":{\n                      \"$\":\"10\"\n                   },\n                   \"VLRTOT\":{\n                      \"$\":\"432.38\"\n                   },\n                   \"CODVOL\":{\n                      \"$\":\"UN\"\n                   },\n                   \"VLRDESC\":{\n                      \"$\":\"0\"\n                   },\n                   \"PERCDESC\":{\n                      \"$\":\"0\"\n                   }\n                }\n             }\n          }\n       }\n    }              \n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CACSP.incluirAlterarItemNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"46457EBA87743376561485A6021C8D8A\",\n        \"responseBody\": {\n            \"pk\": {\n                \"NUNOTA\": {\n                    \"$\": \"7468\"\n                },\n                \"SEQUENCIA\": {\n                    \"$\": \"8\"\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Inclusão / Alteração de itens realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/ExcAltItemPedido": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Exclusão de de Itens do Pedido",
        "description": "<h1>Regras de negócio</h1> O objetivo é incluir um <b>pedido de venda</b> ou <b>pedido de compra</b> negociado, por exemplo em 01/01 para ser entregue em até 31/12, durante esse prazo de negociação, ocorrem algumas variações do preço e quantidade dos itens, assim como itens excluídos e incluídos na negociação, por isso existe a necessidade de manter um <b>pedido de venda</b> faturado parcialmente e que poderá sofrer manutenções/alterações.<br />\nSerá necessário efetuar algumas, configurações como do tipo de operação - top e habilitar algumas marcações \"Permitir Alteração após confirmar\" e \"Permite alterar itens após faturar parcialmente\" e \"Gravar histórico de alterações do pedido\" que possibilita a alteração do <b>pedido de compra</b> ou <b>pedido de venda</b>, faturado parcialmente no sistema.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br /> https://ajuda.sankhya.com.br/hc/pt-br/articles/360045109773-Altera%C3%A7%C3%A3o-de-Pedidos-Parcialmente-Faturados#prefer%C3%AAncias<br />\n<h3>Dependências</h3> Para realizar a exclusão de itens no pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login;<br /> <b>2) </b>Produtos/Serviços  preeviamente cadastrados e ativos;<br /> <b>3) </b>Empresas previamente cadastradas e ativas;<br /> <b>4) </b>Top's configuradas devidamente tipo de movimentação <b>\"Pedido de venda\"</b>;<br /> <b>5) </b>Tipo de operação(TOP) utilizado no pedido deve estar configurada para permitir a alteração do <b>\"pedido\"</b> após a <b>\"confirmação\"</b> do mesmo. <br />\n<h3>Detalhes Técnicos</h3> O serviço utilizado para exclusão de itens no pedido  é o <b>CACSP.excluirItemNota</b> que instancia as entidades principais para exclusão de item no pedido, as entidades que este serviço utiliza são: <br />\n  <b>• CabecalhoNota;</b>\n  <b>• ItemNota.</b><br />\n  Os campos obrigatórios dependem estritamente da configuração de TOP,empresa, produto, etc. Portanto, neste exemplo colocamos os campos tipicamente obrigatórios em todos os casos de uso. Este exemplo não tenta exaurir as possibilidades,que são muitas, então em alguns casos a chamada a esse serviço pode resultar em mensagem de erro exigindo que outros campos sejam enviados. <br />\n  Apenas um item pedido/nota pode ser enviado por vez. <br />\n  Para realizar a exclusão do item no pedido através do Json, os campos abaixo são obrigatórios:<br /><br />\n  <b>CABEÇALHO DO PEDIDO</b><br />\n  \n            • NUNOTA – Numero Único da nota;\n\n<h3></h3> <b>ITENS DO PEDIDO</b>\n\n            • SEQUENCIA - Sequência do item no pedido;\n\n<h3>Descritivo de Campos das Entidades</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAB</b><br /> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFITE.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFITE</b><br />\n<h3>Exemplo de uso:</h3> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.excluirItemNota&outputType=json <br />\n<b>Corpo de Requisição Padrão para Inclusão:</b>\n\n    {\n       \"serviceName\":\"CACSP.excluirItemNota\",\n       \"requestBody\":{\n          \"nota\":{\n             \"itens\":{\n                \"item\":{\n                   \"NUNOTA\":{\n                      \"$\":\"7468\"\n                   },\n                   \"SEQUENCIA\":{\n                      \"$\":\"4\"\n                   }\n                }\n             }\n          }\n       }\n    }\n<h3></h3>\n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CACSP.excluirItemNota\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"6E87F2164B6D912C169CA006E6FACC2F\",\n        \"responseBody\": {}\n    }",
        "responses": {
          "201": {
            "description": "Exclusão de item realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/StatusPedidos": {
      "get": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Consulta de Status do Pedido",
        "description": "<h1>Regras de negócio</h1> Para realizar consulta de status dos pedidos será necessário realizar uma consulta envolvendo 3 tabelas, são elas: <b>TGFCAB,TGFVAR</b> e <b>TGFCAN</b>.<br />\nOBS: Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendas#oqueumpedidodevenda<br />\n<h3>Dependências</h3> <b>É</b> necessário a criação da view VW_STPEDIDOS_JSON para poder efetuar a consulta do(s) status dos pedido(s).<br />\nClique <a href=\"http://swagger.sankhya.com.br/tabelas/VW_STPEDIDOS_JSON.sql\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> para baixar o arquivo contendo o código <b>SQL</b> com a view a para ser executada no banco de dados Oracle do ERP.<br /><br /> <h3>Detalhes Técnicos</h3> As entidades utilizadas para esta consulta foram a <b>CabecalhoNota,CompraVendavariosPedido</b> e <b>NotaCancelada</b> que por sua vez instanciam as tabelas TGFCAB,TGFVAR e TGFCAN respectivamente.<br />\nPara realizarmos a busca através do Json, utilizamos o serviço <i><b>\"DbExplorerSP.executeQuery\".</b></i><br /><br /> O serviço DbExplorerSP.executeQuery é um serviço para ser utilizado para execução de consultas SQL através do JSON.<br /><br /> Este serviço é utilizado apenas para consulta de dados, portanto, não é possível realizar deleções e inserções através do serviço.<br /><br /> No exemplo abaixo o único filtro utilizado foi um limitador para controlar o número de linhas de retorno para que a consulta seja mais rápida de eficiente.<br /> <h3></h3> Por se tratar de uma consulta SQL, foi inserido na cláusula WHERE um limitador de linhas para melhor eficiência da consulta, segue exemplo:\n\n    \"requestBody\": {\n        \"sql\":\"SELECT * FROM VW_STPEDIDOS_JSON WHERE TO_CHAR(DTALTER, 'YYYY-MM-DD') > '2020-01-01' AND TO_CHAR(DTALTER, 'YYYY-MM-DD') < '2020-12-31'\"\n        }\n\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFCAB<br /><br /> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFVAR.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFVAR<br /><br />           Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAN.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFCAN<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=DbExplorerSP.executeQuery&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n      {\n        \"serviceName\":\"DbExplorerSP.executeQuery\",\n        \"requestBody\": {\n        \"sql\":\"SELECT * FROM VW_STPEDIDOS_JSON WHERE TO_CHAR(DTALTER, 'YYYY-MM-DD') > '2020-01-01' AND TO_CHAR(DTALTER, 'YYYY-MM-DD') < '2020-12-31'\"\n        }\n      }\n\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n      {\n          \"serviceName\": \"DbExplorerSP.executeQuery\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"D83F911A954DA9CE10097ACC2DEA9A4F\",\n          \"responseBody\": {\n              \"fieldsMetadata\": [\n                  {\n                      \"name\": \"NUNOTA\",\n                      \"description\": \"NUNOTA\",\n                      \"order\": 1,\n                      \"userType\": \"I\"\n                  },\n                  {\n                      \"name\": \"STATUSNOTA\",\n                      \"description\": \"STATUSNOTA\",\n                      \"order\": 2,\n                      \"userType\": \"S\"\n                  },\n                  {\n                      \"name\": \"DESCRICAO\",\n                      \"description\": \"DESCRICAO\",\n                      \"order\": 3,\n                      \"userType\": \"S\"\n                  },\n                  {\n                      \"name\": \"DTALTER\",\n                      \"description\": \"DTALTER\",\n                      \"order\": 4,\n                      \"userType\": \"H\"\n                  }\n              ],\n              \"rows\": [\n                  [\n                      142,\n                      \"L\",\n                      \"Liberado\",\n                      \"15052020 16:26:57\"\n                  ]\n              ],\n              \"burstLimit\": false,\n              \"timeQuery\": \"4ms\",\n              \"timeResultSet\": \"1ms\"\n          }\n      }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/CancelamentoPedidos": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Cancelamento de Pedidos",
        "description": "<h1>Regras de negócio</h1> Para realizar o cancelamento de pedidos no ERP será necessário efetuar criação de um filtro para acessar os títulos que precisam ser cancelados e efetuar o preenchimento dos dados necessários para efetuar o cancelamento.No ERP a partir do momento que é cancelada uma nota fiscal, não é mais possível reverter este processo, sendo necessário lançar a nota fiscal novamente.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360045107913-Notas-Canceladas<br />\n<h3>Dependências</h3> Para realizar o cancelameno do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br /> <b>2) </b>O pedido deve estar confirmado no ERP Sankhya-Om;<br /> <b>3) </b>É obrigatório informar o número único da nota<br /> <b>4) </b>É obrigatorio informar a justificativa de cancelamento</b>.<br />\n<h3>Detalhes Técnicos</h3>\nO serviço utilizado para cancelamento de notas é o CACSP.cancelarNota que utiliza a entidade  CabecalhoNota que por sua vez instancia a tabela TGFCAB.<br />\nPara usar serviços de módulos auxiliares, como é o caso do mgecom devemos enviar um parâmetro adicional na URL, cujo nome é mgeSession e o valor será o ID adquirido no serviço de autenticação. Isso não se aplica para serviços do módulo mge, que é o principal.<br />\n  Para realizar a exclusão do pedido através do Json, o campo abaixo é obrigatório:<br /><br />\n\n            • NUNOTA – Numero Único da nota;\n<h3></h3> A partir do momento em que a nota é cancelada, a nota é inserida na tabela <b>TGFCAN</b> que por sua vez é instanciada pela entidade <b>\"NotaCancelada\"</b>, esta tabela é responsável por armazenar todas as notas que foram confirmadas mas por algum motivo ou divergência, foi cancelada.\n\n<h3>Descritivo de Campos das Entidades</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAB</b><br /> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAN.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAN</b><br />          \n<h3>Exemplo de uso:</h3> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=CACSP.cancelarNota&outputType=json <br />\n\n    <b>Corpo de requisição</b>\n\n      {\n         \"serviceName\":\"CACSP.cancelarNota\",\n         \"requestBody\":{\n            \"notasCanceladas\":{\n               \"nunota\":[\n                  {\n                     \"$\":\"3713703\"\n                  }\n               ],\n               \"justificativa\":\"lançamento indevido\",\n               \"validarProcessosWmsEmAndamento\":\"true\"\n            }\n          }\n      }    \n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n      {\n          \"serviceName\": \"CACSP.cancelarNota\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"BA6F5CEB2F1ED4B27E3E66F98C4BE084\",\n          \"responseBody\": {\n              \"resultadoCancelamento\": {\n                  \"totalNotasCanceladas\": \"1\"\n              }\n          }\n      }",
        "responses": {
          "201": {
            "description": "Cancelamento de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/FaturamentoPedidos": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Faturamento de Pedidos",
        "description": "<h1>Regras de negócio</h1> Para finalizar uma venda, o pedido de vendas precisa ser faturado, ou seja, transformado em nota fiscal ou Ordem de Entrega.<br />\n  O conceito prático de faturamento, consiste em transformar um pedido de venda em uma nota fiscal de Venda; porém, na passagem de um orçamento para um pedido de venda, pode-se entender que também houve um faturamento, mas não com as mesmas validações mencionadas acima.<br />\n <b>Vale ressaltar que, os comportamentos citados, poderão variar de acordo com o processo de cada empresa.</b><br />\n  <b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\n  https://ajuda.sankhya.com.br/hc/pt-br/articles/360044612654-Portal-de-Vendas#faturamento-comofazer<br />\n  \n<h3>Dependências</h3> Para realizar o faturamento do pedido, os seguintes itens são obrigatórios:<br />\n<b>1) </b>Logar no sistema utilizando o Serviço de Login descrito nesta documentação em Login; <br /> <b>2) </b>O pedido deve estar confirmado no ERP Sankhya-Om;<br /> <b>3) </b>É obrigatório informar o número único do pedido.<br /> <b>4) </b>É obrigatório configurar o tipo de operação(TOP) para atender a requisição de faturamento vindo do json<br /> <b>5) </b>É obrigatório informar o tipo de operação(TOP) de faturamento para a nota fiscal.<br />\n<b>OBS:</b> O faturamento pelo json passa pelas mesmas regras definidas e configuradas nas TOPs do ERP.<br /> <h3>Detalhes Técnicos</h3>\nO serviço utilizado para o faturamento de pedidos é o SelecaoDocumentoSP.faturar que utiliza a entidade CabecalhoNota que por sua vez instancia a tabela TGFCAB.<br />\nPara realizar o faturamento do pedido o campo abaixo é obrigatório:<br /><br />  <b>• NUNOTA</b> – Numero Único da nota;       <h3></h3>\n  Ao realizar o faturamento deve-se passar no campo <b>NUNOTA</b> o número do pedido que deseja faturar.<br />\n  Após o serviço executar o faturamento no ERP ele retorna o NUNOTA da nota fiscal gerada. ( Lembrando que o <b>NUNOTA</b> não é o número da nota e sim apenas a chave (PK) interna que identifica o documento na tabela TGFCAB ).<br />\n  Para obter os dados da nota fiscal gerada, deve-se fazer chamada ao serviço de consulta de <b>pedidos/notas</b> passando como parâmetro o NUNOTA da nota fiscal que foi retornado durante a chamada do serviço de faturamento.<br />\n  Assim conseguirá obter todas as informações da nota fiscal que foi gerada no faturamento.<br />\n  Importante: A nota faturada fica ligada com o pedido pela tabela <b>TGFVAR</b> ( ver serviço de consulta de \"Ligação Nota x Pedido\" )<br />\n<h3></h3> <b>Filtros de para opções de Faturamento:</b><br />\n<font color=\"red\"><b>Faturamento normal:</b></font><br /> Faturamento da nota independente dos itens, ao utilizar esta opção o faturamento é realizado juntamente com a quantidade total de itens na nota.\n\n               \"notas\":{\n               \"codTipOper\":167,\n               \"dtFaturamento\":\"04/02/2021\",\n               \"tipoFaturamento\":\"FaturamentoNormal\",\n               \"dataValidada\":true,\n               \"notasComMoeda\":{\n                  \n               },         \n               \"nota\":[\n                {\n                   \"$\":7434\n                }\n             ],\n             \"faturarTodosItens\":true\n            }\n<h3></h3> <font color=\"red\"><b>Faturamento por Item e por quantidade:</b></font><br /> Faturamento por item, permite selecionar o item que será faturado e a sua quantidade, permitindo assim, faturar parcialmente um pedido ou um item.\n\n           \"nota\":[\n          {\n             \"NUNOTA\":\"7432\",\n             \"itens\":{\n                \"item\":[\n                   {\n                      \"QTDFAT\":2,\n                      \"$\":1\n                   }\n                ],\n              \"faturarTodosItens\":false,\n             }\n          }\n       ],\n<h3></h3> <font color=\"red\"><b>Faturamento por Estoque:</b></font><br /> Para realizar o faturamento por estoque o parâmetro <b>FATEST-RESERV</b> deverá estar desligado no ERP.\n\n       \"notas\":{\n       \"codTipOper\":167,\n       \"dtFaturamento\":\"04/02/2021\",\n       \"serie\":\"\",\n       \"dtSaida\":\"04/02/2021\",\n       \"hrSaida\":\"\",\n       \"tipoFaturamento\":\"FaturamentoEstoque\",\n       \"dataValidada\":true,\n       \"notasComMoeda\":{\n       },         \n        \"nota\":[\n                {\n                   \"$\":7434\n                }\n             ],\n             \"faturarTodosItens\":true\n      }\n<h3></h3> <font color=\"red\"><b>Faturamento por Estoque deixando pendente:</b></font><br /> Faturar pelo estoque deixando pendente, serve para atender os itens que possuem estoque, sendo assim, os itens que não possuem estoque ficam como pendentes para serem atendidos posteriormente em um novo faturamento.<br /> Para realizar o faturamento por estoque o parâmetro <b>FATEST-RESERV</b> deverá estar desligado no ERP.\n\n       \"notas\":{\n       \"codTipOper\":167,\n       \"dtFaturamento\":\"04/02/2021\",\n       \"serie\":\"\",\n       \"dtSaida\":\"04/02/2021\",\n       \"hrSaida\":\"\",\n       \"tipoFaturamento\":\"FaturamentoEstoqueDeixandoPendente\",\n       \"dataValidada\":true,\n       \"notasComMoeda\":{\n       },         \n        \"nota\":[\n                {\n                   \"$\":7439\n                }\n             ],\n             \"faturarTodosItens\":true\n      }\n<h3></h3> <h3></h3> <font color=\"red\"><b>Faturamento Direto:</b></font><br />\n\n\n       \"notas\":{\n       \"codTipOper\":28600,\n       \"dtFaturamento\":\"27/07/2021\",\n       \"tipoFaturamento\":\"FaturamentoDireto\",\n       \"dataValidada\":true,\n       \"serie\":\"1\",\n       \"tipoFaturamento\":\"FaturamentoDireto\",\n       \"notasComMoeda\":{\n       },         \n        \"nota\":[\n                {\n                   \"$\":7439\n                }\n             ],\n             \"faturarTodosItens\":true\n      }\n<h3></h3>\n <b><font color=\"red\">OBSERVAÇÃO</font>:</b> Nota-se que que nas opções de por estoque a tag <b>tipoFaturamento</b> é alterada para <b>\"FaturamentoEstoque\"</b> ou <b>\"FaturamentoEstoqueDeixandoPendente\"</b> nos demais tag fica com a opção <b>FaturamentoNormal</b>. <br />\n<h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFCAB.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela <b>TGFCAB</b><br />\n<h3>Exemplo de uso:</h3> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mgecom/service.sbr?serviceName=SelecaoDocumentoSP.faturar&outputType=json <br />\n<b>Corpo de Requisição Padrão</b>\n\n      {\n         \"serviceName\":\"SelecaoDocumentoSP.faturar\",\n         \"requestBody\":{\n            \"notas\":{\n               \"codTipOper\":167,\n               \"dtFaturamento\":\"04/02/2021\",\n               \"tipoFaturamento\":\"FaturamentoNormal\",\n               \"dataValidada\":true,\n               \"notasComMoeda\":{\n                  \n               },\n               \"nota\":[\n                  {\n                     \"$\":7434\n                  }\n               ],\n               \"codLocalDestino\":\"\",\n               \"faturarTodosItens\":true,\n               \"umaNotaParaCada\":\"false\",\n               \"ehWizardFaturamento\":true,\n               \"dtFixaVenc\":\"\",\n               \"ehPedidoWeb\":false,\n               \"nfeDevolucaoViaRecusa\":false\n            }\n         }\n      }\n\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n      {\n          \"serviceName\": \"SelecaoDocumentoSP.faturar\",\n          \"status\": \"1\",\n          \"pendingPrinting\": \"false\",\n          \"transactionId\": \"C688DB3E5193312092DC853D04B7BBE2\",\n          \"responseBody\": {\n              \"codUsuLogado\": {\n                  \"$\": \"0\"\n              },\n              \"notas\": {\n                  \"tipMov\": \"V\",\n                  \"nota\": {\n                      \"$\": \"7435\"\n                  }\n              }\n          }\n      }",
        "responses": {
          "201": {
            "description": "Cancelamento de pedidos realizada com sucesso!"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/GrupoProduto": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Grupo de Produtos",
        "description": "<h1>Regras de negócio</h1> Para realizar o cadastramento no ERP de grupos de produtos o serviço obrigatoriamente deve pertencer a um grupo. Para que seja definido uma forma de classificação e agrupamento de produtos e serviços com características semelhantes, objetivando facilitar operações como:Atualização de preços;Análises de relatórios gerenciais;impressão de listas de preços, inventários etc.<br />\nPorém no sistema é necessário evitar um grande número de níveis, pois isso torna os lançamentos muito complicados e os relatórios gerenciais apresentam muitas quebras, tornando-se difíceis de interpretar;<br />\n<b>OBS</b>: Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044598294-Grupos-de-Produtos-Servi%C3%A7os<br />\n<h3>Dependências</h3>\n <b><font color=red>Não possui dependências</font></b><br />\n <h3>Detalhes Técnicos</h3>\n A entidade utilizada é a <b>GrupoProduto</b> que por sua vez instancia a tabela TGFGRU mapeando os campos principais pertinentes ao cadastro de transportadora.<br />\n Para realizar a importação do cadastro de transportadora através do Json, os campos abaixo são obrigatórios:<br />\n  <b>• CODGRUPOPROD</b> - Cód. do Grupo Produto;\n  <b>• DESCRGRUPOPROD</b> - Descrição;\n  <b>• CODGRUPAI</b> - Grupo pai;\n  <b>• GRAU</b> - Grau.<br /><br />\n\n<h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFGRU.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFGRU<br />          \nExemplo de uso:<br /><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.saveRecord&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n    \"serviceName\":\"CRUDServiceProvider.saveRecord\",\n     \"requestBody\":{\n        \"dataSet\":{\n           \"rootEntity\":\"GrupoProduto\",\n           \"includePresentationFields\":\"S\",\n           \"dataRow\":{\n              \"localFields\":{\n                 \"CODGRUPOPROD\":{\n                    \"$\":\"1001002011\"\n                 },               \n                 \"DESCRGRUPOPROD\":{\n                    \"$\":\"Grupo de produto teste\"\n                 },               \n                 \"CODGRUPAI\":{\n                    \"$\":\"1001002000\"\n                 },               \n                 \"GRAU\":{\n                    \"$\":\"4\"\n                 }\n              }\n           }, \"entity\":{\n              \"fieldset\":{\n                 \"list\":\"CODGRUPOPROD,DESCRGRUPOPROD,CODGRUPAI,GRAU\"\n              }\n           }\n        }\n     }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n      \"serviceName\": \"CRUDServiceProvider.saveRecord\",\n      \"status\": \"1\",\n      \"pendingPrinting\": \"false\",\n      \"transactionId\": \"9B647AA5DE706B8B8E1E0D8640BD2548\",\n      \"responseBody\": {\n          \"entities\": {\n              \"total\": \"1\",\n              \"entity\": {\n                  \"DESCRGRUPOPROD\": {\n                      \"$\": \"Grupo de produto teste\"\n                  },\n                  \"CODGRUPAI\": {\n                      \"$\": \"1001002000\"\n                  },\n                  \"CODGRUPOPROD\": {\n                      \"$\": \"1001002011\"\n                  },\n                  \"GRAU\": {\n                      \"$\": \"4\"\n                  }\n              }\n          }\n      }\n    }",
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/Produto": {
      "post": {
        "tags": [
          "Produtos"
        ],
        "summary": "Cadastro de Produtos",
        "description": "<h1>Regras de negócio</h1> Para realizar o cadastro de produto no ERP é necessário preencher os dados obrigatórios, pois todo produto/serviço obrigatoriamente deve pertencer a um grupo. Esta tela permite que você defina uma forma de classificação e agrupamento de produtos e serviços com características semelhantes, objetivando facilitar operações como: atualização de preços,análises de relatórios gerenciais e impressão de listas de preços.<br />\n<b>OBS</b>: Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360045112113-Cadastro-de-Produtos-<br /><br />\n<h3>Dependências</h3> Para realizar a importação do cadastro, deve ser informado o código do grupo de produto correspondente ou o código de grupo padrão, caso não exista o código de grupo de produto no cadastro, basta cadastrá-lo e informar o código de grupo de produto durante o cadastro.<br />\n<h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>Produto</b> que por sua vez instancia a tabela TGFPRO mapeando os campos principais pertinentes ao cadastro de produto.<br /> Para realizar a importação do cadastro de produtos através do Json, os campos abaixo são obrigatórios:<br /><br /> <b>• DESCRPROD</b> – Descrição do Produto;<br /> <b>• CODGRUPOPROD</b> – Código do Grupo de Produto (utilizar o código de grupo de produtos da base MODELO);<br /> <b>• CODVOL</b> – Volume do Produto;<br /> <b>• REFFORN</b> – Referência do Fornecedor;<br /> <b>• MARCA</b> – Marca do Produto.<br />\n<h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFPRO.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFPRO<br />\n<h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.saveRecord&outputType=json <br /><br />\n<font color=red>IMPORTANTE</font>:</b> <H3>OBSERVAÇÃO: EXEMPLO DE REQUISIÇÃO BASEADO NA BASE DE TESTE. TODOS OS CAMPOS DEVEM SER REVISTOS E AJUSTADOS PARA UM NOVO CADASTRO DE PEDIDOS PARA AMBIENTE PRODUTIVO.<br/> <br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.saveRecord\",\n      \"requestBody\": {\n          \"dataSet\": {\n              \"rootEntity\": \"Produto\",\n              \"includePresentationFields\": \"N\",\n              \"dataRow\": {\n                  \"localFields\": {\n                      \"DESCRPROD\": {\n              \"$\": \"teste54321\"\n          },\n          \"CODGRUPOPROD\": {\n              \"$\": \"0\"\n          },\n          \"CODVOL\": {\n              \"$\": \"UN\"\n          },\n          \"REFFORN\": {\n           \"$\": \"teste 1234\"\n          },                    \n          \"MARCA\": {\n              \"$\": \"200\"\n          },                    \n          \"USOPROD\": {\n              \"$\": \"B\"\n          },\n          \"NCM\": {\n              \"$\": \"03078300\"\n                      }\n                  }\n              },\n              \"entity\": {\n                  \"fieldset\": {\n                      \"list\": \"CODPROD,DESCRPROD,CODGRUPOPROD,CODVOL,MARCA\"\n                  }\n              }\n          }\n      }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n      \"serviceName\": \"CRUDServiceProvider.saveRecord\",\n      \"status\": \"1\",\n      \"pendingPrinting\": \"false\",\n      \"transactionId\": \"F66577EDDEE27F429049083133144519\",\n      \"responseBody\": {\n          \"entities\": {\n              \"total\": \"1\",\n              \"entity\": {\n                  \"CODVOL\": {\n            \"$\": \"UN\"\n        },\n            \"_rmd\": {\n                  \"CODPROD\": {\n                \"$\": \"{\\\"decVlr\\\":2,\\\"decQtd\\\":0,\\\"controle\\\":{\\\"tipoContEst\\\":\\\"N\\\",\\\"listaContEst\\\":[\\\"\\\"],\\\"usaMascara\\\":false}}\",\n                \"provider\": \"PRODUTORMP\"\n            }\n        },\n                \"MARCA\": {\n                  \"$\": \"200\"\n        },\n                \"DESCRPROD\": {\n                    \"$\": \"TESTE54321\"\n        },\n                \"CODGRUPOPROD\": {\n                    \"$\": \"0\"\n        },\n                \"CODPROD\": {\n                    \"$\": \"28\"\n                  }\n              }\n          }\n      }\n    }",
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      },
      "get": {
        "tags": [
          "Produtos"
        ],
        "summary": "Consulta de Produtos",
        "description": "<h1>Regras de negócio</h1> Atualmente, em uma empresa de comercialização de itens palpáveis, o produto é considerado a ferramenta de cunho fundamental para os processos de Compra e Venda. <br/>\nA instituição adquire o(s) produto(s) para revenda ou a(s) matéria(s) prima(s) para produção de itens próprios.<br /> Além disso, temos em meio ao processo de Compras, as  solicitações internas, que tem por objetivo sanar as deficiências de materiais nos vários setores da empresa.<br /><br /> Esta documentação permitirá que você tenha uma visão completa de como efetuar o cadastro de um produto. Servirá também de apoio à consultas futuras para esclarecimentos de dúvidas,  quanto à parametrização, principais tipos de erros e as possíveis maneiras de corrigi-los.<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br />\n<h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>Produto</b> que por sua vez instancia a tabela TGFPRO mapeando os campos principais.<br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foi utilizado como filtro o campo CODPROD, porém você pode utilizar outros campos da entidade .<br /><br />  \n\nPara utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n        \"criteria\": {\n            \"$\": \"this.CODPROD = ?\"\n          },\n          \"parameter\": [\n             {\n                \"$\": \"7\",\n                \"type\": \"I\"\n             }\n          ]\n        }   \"expression\": {\n                 \n<h3></h3>                   Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br />\n<h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFPRO.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFPRO<br />\n<h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"Produto\",\n          \"includePresentationFields\": \"N\",\n          \"offsetPage\": \"0\",\n          \"criteria\": {\n            \"expression\": {\n              \"$\": \"this.CODPROD = ?\"\n            },\n            \"parameter\": [\n              {\n                \"$\": \"7\",\n                \"type\": \"I\"\n              }\n            ]\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"CODPROD,DESCRPROD,LOCAL,MARCA,CODVOL\"\n            }\n          }\n        }\n      }\n    }\n  <br/>\n\n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n     {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"7EC52EBA04CF6E5DB89BA44EE3C5A4CF\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"hasMoreResult\": \"false\",\n                \"offsetPage\": \"0\",\n                \"offset\": \"0\",\n                \"entity\": {\n                    \"f1\": {\n                        \"$\": \"CANELA EM PO\"\n                    },\n                    \"f0\": {\n                        \"$\": \"7\"\n                    },\n                    \"f3\": {\n                        \"$\": \"UN\"\n                    },\n                    \"f2\": {\n                        \"$\": \"JUNCO\"\n                    },\n                    \"f4\": {\n                        \"$\": \"1000\"\n                    }\n                },\n                \"metadata\": {\n                    \"fields\": {\n                        \"field\": [\n                            {\n                                \"name\": \"CODPROD\"\n                            },\n                            {\n                                \"name\": \"DESCRPROD\"\n                            },\n                            {\n                                \"name\": \"MARCA\"\n                            },\n                            {\n                                \"name\": \"CODVOL\"\n                            },\n                            {\n                                \"name\": \"CODLOCALPADRAO\"\n                            }\n                        ]\n                    }\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/ProdutoEmpresa": {
      "get": {
        "tags": [
          "Produtos"
        ],
        "summary": "Consulta de Produtos x Empresa",
        "description": "<h1>Regras de negócio</h1> A empresa pode possuir mais de uma tabela de preço cadastrada para seus produtos, sendo que podem ser concedidos descontos promocionais com o mesmo período e produto para tabelas diferentes com percentuais diferentes.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044600034-Descontos-Promocionais<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /> <h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>EmpresaProdutoImpostos</b> que por sua vez instancia a tabela TGFPEM mapeando os campos principais.<br /><br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foi utilizado como filtro os campos CODEMP e CODPROD, para poder pesquisar os produtos por empresa, porém você pode utilizar outros campos da entidade .<br /><br /> <b>• CODEMP</b> – Código da Empresa.<br /> <b>• CODPROD</b> – Código do Produto.<br />\nPara utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n                  \"criteria\": {\n                     \"expression\": {\n                        \"$\": \"this.CODEMP = ? and this.CODPROD = ?\"\n                     },\n                     \"parameter\": [\n                       {\n                         \"$\": \"10\",\n                         \"type\": \"I\"\n                       },\n                       {\n                         \"$\": \"1\",\n                         \"type\": \"I\"\n                       }\n                     ]\n                  }\n\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFPEM.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFPEM<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"EmpresaProdutoImpostos\",\n          \"includePresentationFields\": \"S\",\n          \"offsetPage\": \"0\",\n          \"criteria\": {\n            \"expression\": {\n              \"$\": \"this.CODEMP = ? and this.CODPROD = ?\"\n            },\n            \"parameter\": [\n              {\n                \"$\": \"10\",\n                \"type\": \"I\"\n              },\n              {\n                \"$\": \"1\",\n                \"type\": \"I\"\n              }\n            ]\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"CODEMP,CODPROD\"\n            }\n          }\n        }\n      }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"8A0582AF4F679BDCBA971C91E7AE1D00\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"hasMoreResult\": \"false\",\n                \"offsetPage\": \"0\",\n                \"offset\": \"0\",\n                \"metadata\": {\n                    \"fields\": {\n                        \"field\": [\n                            {\n                                \"name\": \"CODEMP\"\n                            },\n                            {\n                                \"name\": \"CODPROD\"\n                            },\n                            {\n                                \"name\": \"Empresa_NOMEFANTASIA\"\n                            },\n                            {\n                                \"name\": \"Produto_DESCRPROD\"\n                            }\n                        ]\n                    }\n                },\n                \"entity\": {\n                    \"f0\": {\n                        \"$\": \"10\"\n                    },\n                    \"f1\": {\n                        \"$\": \"1\"\n                    },\n                    \"f2\": {\n                        \"$\": \"EMPRESA MODO CHECKOUT\"\n                    },\n                    \"f3\": {\n                        \"$\": \"Bolsa Térmica\"\n                    }\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/PromocaoProduto": {
      "get": {
        "tags": [
          "Promoção"
        ],
        "summary": "Consulta de Promoções - Produtos",
        "description": "<h1>Regras de negócio</h1> O ERP permite o cadastro de descontos, restringindo este por <b>\"produto/serviço\"</b>, <b>\"grupo de produto\"</b> ou <b>\"Todos\"</b>, sendo que quando definido com esta última opção, todos os produtos sem exceção serão <b>\"afetados\"</b> pelo desconto configurado.Para que o processo seja validado é importante efetuar as devidas configurações no ERP e informar o produto para o qual será concedido o desconto.<br />\nOBS: Caso tenha alguma necessidade de configuração do ERP procure <b>“Consultor”</b> ou acesso o link de apoio:<br /> \nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044600034-Descontos-Promocionais<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /> <h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>Desconto</b> que por sua vez instancia a tabela TGFDES mapeando os campos principais.<br /><br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foram utilizados como filtro os campos CODPROD,DTINICIAL e DTFINAL para poder pesquisar as promoções cadastradas por <b>Produto</b> e por <b>período de vigência</b> da Promoção, porém você pode utilizar outros campos da entidade. .<br /><br /> <b>• CODPROD</b> – Código do Produto.<br /> <b>• DTINICIAL</b> – Data Inicial.<br /> <b>• DTFINAL</b> – Data Final.<br />          \nPara utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n          \"criteria\": {\n            \"expression\": {\n              \"$\": \"this.CODPROD = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"                        \n            },\n            \"parameter\": [\n              {\n                \"$\": \"542\",\n                \"type\": \"I\"\n              },\n              {\n                \"$\": \"15/03/2020\",\n                \"type\": \"D\"\n              },\n              {\n                \"$\": \"31/03/2020\",\n                \"type\": \"D\"\n              }\n            ]\n          }\n\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFDES.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFDES<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"Desconto\",\n          \"includePresentationFields\": \"S\",\n          \"offsetPage\": \"0\",\n          \"criteria\": {\n            \"expression\": {\n              \"$\": \"this.CODPROD = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"                        \n            },\n            \"parameter\": [\n              {\n                \"$\": \"542\",\n                \"type\": \"I\"\n              },\n              {\n                \"$\": \"15/03/2020\",\n                \"type\": \"D\"\n              },\n              {\n                \"$\": \"31/03/2020\",\n                \"type\": \"D\"\n              }\n            ]\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"DTINICIAL,DTFINAL,CODPROD,VLRDESC,CODEMP,NUPROMOCAO,DESCRPROMOCAO\"\n            }\n          }\n        }\n      }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"9F5C7EB92A2865760E33F886DE469E57\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"hasMoreResult\": \"false\",\n                \"offsetPage\": \"0\",\n                \"offset\": \"0\",\n                \"metadata\": {\n                    \"fields\": {\n                        \"field\": [\n                            {\n                                \"name\": \"DTINICIAL\"\n                            },\n                            {\n                                \"name\": \"DTFINAL\"\n                            },\n                            {\n                                \"name\": \"CODPROD\"\n                            },\n                            {\n                                \"name\": \"VLRDESC\"\n                            },\n                            {\n                                \"name\": \"CODEMP\"\n                            },\n                            {\n                                \"name\": \"NUPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"DESCRPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"Produto_DESCRPROD\"\n                            },\n                            {\n                                \"name\": \"Empresa_NOMEFANTASIA\"\n                            }\n                        ]\n                    }\n                },\n                \"entity\": {\n                    \"f6\": {\n                        \"$\": \"CALCULADORA EMPRESA 1\"\n                    },\n                    \"f7\": {\n                        \"$\": \"CALCULADORA HP12\"\n                    },\n                    \"f8\": {\n                        \"$\": \"WCS PRESTAÇÃO DE SERVIÇOS\"\n                    },\n                    \"f0\": {\n                        \"$\": \"15/03/2020\"\n                    },\n                    \"f1\": {\n                        \"$\": \"31/03/2020\"\n                    },\n                    \"f2\": {\n                        \"$\": \"542\"\n                    },\n                    \"f3\": {\n                        \"$\": \"0\"\n                    },\n                    \"f4\": {\n                        \"$\": \"1\"\n                    },\n                    \"f5\": {\n                        \"$\": \"301\"\n                    }\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/PromocaoGrupoProduto": {
      "get": {
        "tags": [
          "Promoção"
        ],
        "summary": "Consulta de Promoções - Grupo de Produtos",
        "description": "<h1>Regras de negócio</h1> Para realizar uma consulta por grupo de produtos, primeiramente é necessário realizar uma venda com produto promocional  por <b>“grupo de Produtos”</b> no ERP para que o desconto em percentual seja aplicado no produto. <br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044600034-Descontos-Promocionais<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /> <h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>Desconto</b> que por sua vez instancia a tabela TGFDES mapeando os campos principais.<br /><br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foram utilizados como filtro os campos GRUPODESCPROD, DTINICIAL e DTFINAL para poder pesquisar as promoções cadastradas por <b>Grupo de produto</b> e por <b>período de vigência</b> da Promoção, porém você pode utilizar outros campos da entidade. .<br /><br /> <b>• GRUPODESCPROD</b> – Grupo de desconto por Produto.<br /> <b>• DTINICIAL</b> – Data Inicial.<br /> <b>• DTFINAL</b> – Data Final.<br />    \nPara utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n        \"criteria\": {\n            \"expression\": {\n               \"$\": \"this.GRUPODESCPROD = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"                    \n            },\n            \"parameter\": [\n               {\n                 \"$\": \"teste\",\n                 \"type\": \"S\"\n               },\n               {\n                 \"$\": \"01/01/2021\",\n                 \"type\": \"D\"\n               },\n               {\n                 \"$\": \"31/01/2021\",\n                 \"type\": \"D\"\n               }\n            ]\n        }\n\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFDES.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFDES<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"Desconto\",\n          \"includePresentationFields\": \"S\",\n          \"offsetPage\": \"0\",\n          \"criteria\": {\n            \"expression\": {\n               \"$\": \"this.GRUPODESCPROD = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"\n            },\n            \"parameter\": [\n               {\n                 \"$\": \"teste\",\n                 \"type\": \"S\"\n               },\n               {\n                 \"$\": \"01/01/2021\",\n                 \"type\": \"D\"\n               },\n               {\n                 \"$\": \"31/01/2021\",\n                 \"type\": \"D\"\n               }\n            ]\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"DTINICIAL,DTFINAL,CODPROD,VLRDESC,GRUPODESCPROD,NUPROMOCAO,DESCRPROMOCAO\"\n            }\n          }\n        }\n      }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"593D8A841F043D7B6E8DAD2FF1286B72\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"hasMoreResult\": \"false\",\n                \"offsetPage\": \"0\",\n                \"offset\": \"0\",\n                \"metadata\": {\n                    \"fields\": {\n                        \"field\": [\n                            {\n                                \"name\": \"DTINICIAL\"\n                            },\n                            {\n                                \"name\": \"DTFINAL\"\n                            },\n                            {\n                                \"name\": \"CODPROD\"\n                            },\n                            {\n                                \"name\": \"VLRDESC\"\n                            },\n                            {\n                                \"name\": \"GRUPODESCPROD\"\n                            },\n                            {\n                                \"name\": \"NUPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"DESCRPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"Produto_DESCRPROD\"\n                            }\n                        ]\n                    }\n                },\n                \"entity\": [\n                    {\n                        \"f6\": {\n                            \"$\": \"LIQUIDA ESTOQUE\"\n                        },\n                        \"f7\": {\n                            \"$\": \"<sem descrição>\"\n                        },\n                        \"f0\": {\n                            \"$\": \"01/01/2021\"\n                        },\n                        \"f1\": {\n                            \"$\": \"31/01/2021\"\n                        },\n                        \"f2\": {\n                            \"$\": \"0\"\n                        },\n                        \"f3\": {\n                            \"$\": \"0\"\n                        },\n                        \"f4\": {\n                            \"$\": \"teste\"\n                        },\n                        \"f5\": {\n                            \"$\": \"16\"\n                        }\n                    }\n                ]\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/PromocaoEmpresa": {
      "get": {
        "tags": [
          "Promoção"
        ],
        "summary": "Consulta de Promoções - Empresa",
        "description": "<h1>Regras de negócio</h1> Para realizar consulta de promoções por empresa é necessário efetuar devidas configurações no ERP conforme configurações do tipo de negociação aplicado e produto cadastrado precificado.A empresa pode, possuir mais de uma tabela de preço, cadastrada para seus produtos, sendo que podem ser concedidos, descontos promocionais com o mesmo período e produto para tabelas diferentes com percentuais diferentes.<br />\n<b>Importante:</b> Quando a promoção é por empresa no ERP (isolamento promocional por empresa (Filiais), para cada tipo de chamada da consulta de produtos existem formas diferentes de se contextualizar a empresa para buscar a promoção.<br />\n<b>OBS:</b> Caso tenha alguma necessidade de configuração do ERP procure “Consultor” ou acesso o link de apoio:<br />\nhttps://ajuda.sankhya.com.br/hc/pt-br/articles/360044600034-Descontos-Promocionais<br />\n<h3>Dependências</h3> <b><font color=red>Não possui dependências</font></b><br /> <h3>Detalhes Técnicos</h3> A entidade utilizada é a <b>Desconto</b> que por sua vez instancia a tabela TGFDES mapeando os campos principais.<br /><br /> Para realizarmos a busca através do Json, utilizamos o serviço <i><b>\"CRUDServiceProvider.loadRecords\".</b></i><br /><br /> O serviço CRUDServiceProvider.loadRecords é um otimo serviço para ser utilizado para consulta de dados através do JSON.<br /><br /> No exemplo abaixo foram utilizados como filtro os campos CODEMP, DTINICIAL e DTFINAL para poder pesquisar as promoções cadastradas por <b>Empresa</b> e por <b>período de vigência</b> da Promoção, porém você pode utilizar outros campos da entidade. .<br /><br /> <b>• CODEMP</b> – Código da Empresa.<br /> <b>• DTINICIAL</b> – Data Inicial.<br /> <b>• DTFINAL</b> – Data Final.<br />  \nPara utilizarmos o filtro, basta acrescentar no corpo da requisição o código abaixo utilizando o criteria: <br/>\n\n                  \"criteria\": {\n                    \"expression\": {\n                       \"$\": \"this.CODEMP = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"\n                    },\n                    \"parameter\": [\n                       {\n                         \"$\": \"1\",\n                         \"type\": \"I\"\n                       },\n                       {\n                         \"$\": \"15/01/2020\",\n                         \"type\": \"D\"\n                       },\n                       {\n                         \"$\": \"31/03/2020\",\n                         \"type\": \"D\"\n                       }\n                    ]\n                  }\n\n<h3></h3> Para melhor performance sempre utilize nas suas consultas apenas os campos necessários, para evitar tráfego de dados que não serão utilizados.<br /> <h3>Descritivo de campos da entidade</h3> Acesse <a href=\"http://swagger.sankhya.com.br/tabelas/TGFDES.html\" target=\"_blank\"><b><font size=\"4px\">aqui</font></b></a> o dicionário de dados da tabela TGFDES<br /><br /> <h3>Exemplo de uso:</h3><br /> <b>URL de chamada</b>: https://api.sankhya.com.br/gateway/v1/mge/service.sbr?serviceName=CRUDServiceProvider.loadRecords&outputType=json <br /><br />\n<b>Corpo de requisição</b>\n\n    {\n      \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n      \"requestBody\": {\n        \"dataSet\": {\n          \"rootEntity\": \"Desconto\",\n          \"includePresentationFields\": \"S\",\n          \"offsetPage\": \"0\",\n          \"criteria\": {\n            \"expression\": {\n               \"$\": \"this.CODEMP = ? AND this.DTINICIAL = ? AND this.DTFINAL = ?\"\n            },\n            \"parameter\": [\n               {\n                 \"$\": \"1\",\n                 \"type\": \"I\"\n               },\n               {\n                 \"$\": \"15/01/2020\",\n                 \"type\": \"D\"\n               },\n               {\n                 \"$\": \"31/03/2020\",\n                 \"type\": \"D\"\n               }\n            ]\n          },\n          \"entity\": {\n            \"fieldset\": {\n              \"list\": \"DTINICIAL,DTFINAL,CODPROD,VLRDESC,CODEMP,NUPROMOCAO,DESCRPROMOCAO\"\n            }\n          }\n        }\n      }\n    }\n    \n  <b><font size=2px>Retorno em json:</b><br /></font>\n  \n    {\n        \"serviceName\": \"CRUDServiceProvider.loadRecords\",\n        \"status\": \"1\",\n        \"pendingPrinting\": \"false\",\n        \"transactionId\": \"07827BF346E6056BE30634A6FE479C60\",\n        \"responseBody\": {\n            \"entities\": {\n                \"total\": \"1\",\n                \"hasMoreResult\": \"false\",\n                \"offsetPage\": \"0\",\n                \"offset\": \"0\",\n                \"metadata\": {\n                    \"fields\": {\n                        \"field\": [\n                            {\n                                \"name\": \"DTINICIAL\"\n                            },\n                            {\n                                \"name\": \"DTFINAL\"\n                            },\n                            {\n                                \"name\": \"CODPROD\"\n                            },\n                            {\n                                \"name\": \"VLRDESC\"\n                            },\n                            {\n                                \"name\": \"CODEMP\"\n                            },\n                            {\n                                \"name\": \"NUPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"DESCRPROMOCAO\"\n                            },\n                            {\n                                \"name\": \"Produto_DESCRPROD\"\n                            },\n                            {\n                                \"name\": \"Empresa_NOMEFANTASIA\"\n                            }\n                        ]\n                    }\n                },\n                \"entity\": {\n                    \"f6\": {\n                        \"$\": \"CALCULADORA EMPRESA 1\"\n                    },\n                    \"f7\": {\n                        \"$\": \"CALCULADORA HP12\"\n                    },\n                    \"f8\": {\n                        \"$\": \"WCS PRESTAÇÃO DE SERVIÇOS\"\n                    },\n                    \"f0\": {\n                        \"$\": \"15/03/2020\"\n                    },\n                    \"f1\": {\n                        \"$\": \"31/03/2020\"\n                    },\n                    \"f2\": {\n                        \"$\": \"542\"\n                    },\n                    \"f3\": {\n                        \"$\": \"0\"\n                    },\n                    \"f4\": {\n                        \"$\": \"1\"\n                    },\n                    \"f5\": {\n                        \"$\": \"301\"\n                    }\n                }\n            }\n        }\n    }",
        "responses": {
          "201": {
            "description": "Consulta efetuada com sucesso"
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/PromocaoParceiro": {
      "get": {
        "tags": [
          "Promoção"
        ],
        "summary": "Consulta de Promoções - Parceiros",
[...]
